* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Helvetica', sans-serif;
  font-size: 100%;
  overflow-x: hidden;
}

a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #525252;
  font-size: 2.125rem;
  font-weight: bolder;
}

p {
  color: #767474;
  font-size: 1rem;
  width: 100%;
}

.header {
  background-color: #42c27e;
  padding: 3.125rem 12.5rem 3.125rem 12.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.header .menu {
  display: none;
}

.header .links a:not(:last-child) {
  margin-right: 2.8125rem;
}

.header .links a {
  color: white;
}

.header .links a:hover {
  opacity: .7;
}

.header .social-media :not(:last-child) {
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 1.25rem;
}

.header .social-media img:hover {
  cursor: pointer;
}

@media (max-width: 63.9375em) {
  .header {
    display: none;
  }
}

.main {
  position: relative;
  padding: 17.5rem;
  background: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  display: block;
  width: 100%;
  height: 35rem;
}

.main .text {
  position: absolute;
  max-width: 34.375rem;
  left: 50%;
  top: 45%;
  transform: translate(-80%, -50%);
}

.main .text p {
  margin-top: 0.9375rem;
  margin-bottom: 4.188rem;
  overflow-x: hidden;
}

.main .logo {
  font-size: 1rem;
  padding: 0.9375rem 2.5rem;
  border: 2px solid #525252;
  border-radius: 0.125rem;
  margin: 20px 20px 10px 0;
  transition: all 300ms ease-in-out;
}

.main .logo span {
  margin-left: 0.625rem;
}

.main .logo img {
  width: 0.6875rem;
}

.main .logo:hover {
  border-color: #42c27e;
  cursor: pointer;
  color: #42c27e;
}

.main .iphone {
  margin-right: 10px;
}

@media (max-width: 63.9375em) {
  .main {
    width: 100%;
    padding: 0;
  }
  .main .text {
    width: 80%;
    position: absolute;
    left: 74%;
    top: 39%;
  }
  .main .text h1 {
    width: 16.875rem;
  }
  .main .text p {
    font-size: 1rem;
    width: 16.875rem;
    margin-bottom: 0.5rem;
  }
  .main .iphone, .main .android {
    display: inline-block;
    width: 80%;
    font-size: 1rem;
    cursor: pointer;
  }
}

.phone-section {
  background: #faf9f9;
  height: 47rem;
  display: flex;
  justify-content: center;
}

.phone-section .grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 80vh;
  align-items: center;
}

.phone-section .grid .phone-image {
  height: 36.25rem;
  display: flex;
  justify-content: center;
}

.phone-section .grid .text-spec {
  height: 36.25rem;
  margin-left: 10rem;
}

.phone-section .grid .text-spec h1, .phone-section .grid .text-spec p {
  width: 30.625rem;
}

.phone-section .grid .text-spec h1 {
  margin-bottom: 2.5rem;
}

.phone-section .grid .text-spec p {
  line-height: 2rem;
  margin-bottom: 1.75rem;
}

.phone-section .grid .text-spec ul {
  list-style: none;
  color: #767474;
  font-weight: 600;
}

.phone-section .grid .text-spec ul li {
  margin-bottom: 1.5625rem;
}

.phone-section .grid .text-spec ul li i {
  font-size: 1.25rem;
  margin-right: 0.625rem;
}

.phone-section .grid .text-spec ul li .fa-map-marker-alt {
  margin-right: 0.9375rem;
}

.phone-section .grid .text-spec .button {
  color: #767474;
  padding: 0 0.9375rem 0 1.5625rem;
  line-height: 5rem;
  transition: all 300ms ease-in-out;
}

.phone-section .grid .text-spec .button:hover {
  color: #42c27e;
  border-color: #42c27e;
}

.phone-section .grid .text-spec .button__border {
  border: 0.125rem solid #525252;
  padding: 1.25rem 0.9375rem;
  color: #525252;
  font-weight: 600;
}

.phone-section .grid .text-spec .button__border img {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 1.3rem;
}

.phone-section .grid .text-spec .button__border span {
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.phone-section .grid .text-spec .button__border i {
  margin-left: 0.625rem;
}

.phone-section .grid .text-spec img {
  align-self: center;
  height: 40rem;
  margin-top: 2rem;
}

@media (max-width: 63.9375em) {
  .phone-section {
    height: 100%;
  }
  .phone-section .grid {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    height: 100%;
  }
  .phone-section .grid .text-spec {
    margin-left: 2rem;
    margin-bottom: 1.25rem;
    height: 100%;
  }
  .phone-section .grid .text-spec h1, .phone-section .grid .text-spec p {
    width: 100%;
  }
  .phone-section .grid .text-spec h1 {
    margin-top: 3rem;
    font-size: 1.7rem;
  }
  .phone-section .grid .text-spec p {
    line-height: 2rem;
    margin-bottom: 3.75rem;
  }
  .phone-section .grid .text-spec i {
    display: none;
  }
  .phone-section .grid .text-spec img {
    margin-top: 3.125rem;
  }
  .phone-section .grid .text-spec .button {
    text-align: center;
    width: 90%;
    display: block;
    padding: 0;
    text-align: center;
  }
}

.landmarks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 6.25rem;
  background-color: #f3f3f3;
}

.landmarks img {
  height: 2.5rem;
}

@media (max-width: 63.9375em) {
  .landmarks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
  .landmarks img {
    height: 2rem;
    margin-left: 1rem;
  }
}

.text-blocks {
  height: 100%;
  background-color: #42c27e;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 5rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
  padding-left: 10rem;
}

.text-blocks .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text-blocks .card i {
  margin-top: 1.875rem;
  font-size: 2.1875rem;
}

.text-blocks .card h2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 3.125rem;
}

.text-blocks .card p {
  color: white;
  text-align: center;
  width: 21.75rem;
  line-height: 1.75rem;
  margin-top: 1rem;
  padding: 0.9375rem;
}

@media (max-width: 87.4375em) {
  .text-blocks {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  }
  .text-blocks p {
    width: 100%;
    padding: 0;
    margin-bottom: 2rem;
  }
}

.developer-text {
  height: 23.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.developer-text .dev-text {
  width: 51.25rem;
  font-size: 1.125rem;
  line-height: 2.25rem;
  margin-bottom: 3.125rem;
}

.developer-text .dev-name {
  text-transform: uppercase;
  font-size: 1rem;
  color: #4b4848;
  margin-bottom: 10px;
}

@media (max-width: 63.9375em) {
  .developer-text {
    height: 100%;
    padding: 0.125rem;
    padding-bottom: 1rem;
  }
  .developer-text .dev-text {
    padding-top: 1rem;
    width: 80%;
    word-wrap: break-word;
    font-size: 1.125rem;
    line-height: 2.25rem;
    margin-bottom: 3.125rem;
  }
}

.email {
  height: 20rem;
  background-color: #42c27e;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.email p {
  color: white;
  margin-bottom: 3.125rem;
  font-size: 1.25rem;
  text-align: center;
}

.email input {
  display: flex;
  padding: 1rem;
  border: none;
  width: 18.75rem;
  display: inline;
  margin: 0;
  height: 3.125rem;
  outline: none;
}

.email input::placeholder {
  color: #42c27e;
}

.email button {
  padding: 0.625rem;
  height: 3.125rem;
  width: 3.75rem;
  border: none;
  margin: 0;
  color: #42c27e;
  background-color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 63.9375em) {
  .email input {
    width: 75%;
  }
}

.footer {
  height: 17.9375rem;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

.footer .icons {
  display: flex;
  justify-content: center;
  margin-bottom: 3.125rem;
}

.footer .author {
  text-align: center;
}

.footer img:not(:last-child) {
  margin-right: 3.75rem;
}

@media (max-width: 39.9375em) {
  .footer .author {
    font-size: 0.75rem;
  }
}
