.email {
    height: 20rem;
    background-color: $green;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
        color: $white;
        margin-bottom: 3.125rem;
        font-size: 1.25rem;
        text-align: center;
    }

    input {

        padding: 1rem;
        
        border: none;
        width: 18.75rem;
        display: inline;
        margin: 0;
        height: 3.125rem;
        margin: 0;
        outline: none;


        &::placeholder {
            color: $green;
        }
    }
    
    button {
        padding: 0.625rem;
        height: 3.125rem;
        width: 3.75rem;
        border: none;
        margin: 0;
        color: $green;
        background-color: white;
        font-size: .8rem;
        cursor: pointer;
    }
    
    @include breakpoint-down(medium) {
        input {
            width: 75%;
        }
        
    }
}
